<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        로그인
        <form id="login" action="/login" method="post">
            <input type="text" class="userid" placeholder="아이디"><br>
            <input type="text" class="userpw" placeholder="패스워드"><br>
            <input type="submit">
        </form>
    </body>
</html>